<h1>Edit a Song</h1>

<%= form_for @song do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <p><%= f.label :artists %></p>
  <%= f.collection_check_boxes :artist_ids, Artist.all, :id, :name do |c| %>
    <p><%= c.check_box %><%= c.label %></p>
  <% end %>

  <p><%= f.label :genres %></p>
  <%= f.collection_check_boxes :genre_ids, Genre.all, :id, :name do |c| %>
    <p><%= c.check_box %><%= c.label %></p>
  <% end %>

  <%= f.submit %>
<% end %>
